* {
    margin: 0;
    padding: 0;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-family: "Pathway Extreme", sans-serif;
}

body {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 3em;
    width: 95%;
    margin: 0 auto;
}

header {
    width: 100%;
}

header ul {
    margin-top: 2.2rem;
}

header ul li {
    display: inline-block;
    font-size: 1.8em;
    margin-right: 0.9rem;
}

header ul li:hover {
    text-decoration: underline;
    cursor: pointer;
}
/* --------------------- */

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.article {
    position: relative;
    width: 20rem;
    margin: 0.5rem 0.5rem 0.5rem 0;
}

.article:hover .overlay {
    display: initial;
    transition: all 0.5s ease;
}
.article:hover .text {
    display: initial;
    transition: all 0.5s ease;
}

.overlay {
    display: none;
    position: absolute;
    background: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, 0.1) 50%,
        rgba(0, 0, 0, 0.9) 100%
    );
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.text {
    display: none;
    color: white;
    position: absolute;
    bottom: 1.5rem;
    left: 2rem;
    padding: 1rem 2rem;
}

.text h2 {
    font-size: 2rem;
}
.text p {
    font-size: 1.2rem;
    font-weight: 100;
}

img {
    width: 100%;
    z-index: -1;
}
